.case-study {
  display: flex;
  flex-direction: column;
  background-color: #130821;
  align-items: center;
  justify-content: center;
}
.case-study h2 {
  color: white;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.case-study-box {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1b29;
  border-radius: 15px;
  padding-block: 2rem;
  margin-block: 5rem;
}
.case-study-section {
  width: 90%;
  color: white;
  margin-bottom: 3rem;
}
#gold {
  color: #ffb54c;
}
.case-study-section h3 {
  border-bottom: solid 1px #fff;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.case-study-section p {
  padding-top: 1rem;
}
.case-study-media-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.case-study-media-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: rgb(46, 42, 59);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  margin-top: 2rem;
  border-radius: 10px;
  padding-block: 2rem;
  text-align: center;
}
.case-study-box img {
  width: 40%;
  margin-bottom: 1rem;
}
.case-study-section ol {
  margin-top: 2rem;
}
.case-study-section ol li {
  margin-block: 0.5rem;
}
.case-study-media-box h2 {
  margin-bottom: 1rem;
}
.testimonial {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
  margin-top: 2rem;
}
.testimonial img {
  width: 30%;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
}
.testimonial blockquote {
  color: white;
  border-left: solid 5px #ffb54c;
  background-color: rgb(46, 42, 59);
  display: flex;
  padding-inline: 1rem;
  padding-block: 1rem;
  align-items: center;
  justify-content: center;
}

.case-study-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.case-study-cta {
  padding: 1rem;
  background-color: #ffb54c;
  color: black;
  border: solid 2px transparent;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.4s;
  width: 40%;
  margin-inline: 30%;
  margin-top: 2rem;
}
.case-study-cta a {
  color: black;
  text-decoration: none;
}
.case-study-cta:hover {
  cursor: pointer;
  background-color: #000;
  border-color: #ffb54c;
}
.case-study-cta:hover a {
  color: #fff;
}

@media (max-width: 700px) {
  .case-study h2 {
    font-size: 2rem;
    text-align: center;
    width: 90%;
  }
  .case-study-box {
    width: 90%;
  }
  .case-study h3 {
    font-size: 1.5rem;
  }
  .case-study-media-row {
    flex-direction: column;
  }
  .case-study-media-box {
    width: 90%;
  }
  .testimonial {
    flex-direction: column;
  }
  .testimonial img {
    width: 50%;
    margin-top: 0;
    border-radius: 50%;
  }
  .case-study-images {
    flex-direction: column;
  }
  .case-study-images img {
    width: 80%;
  }
  .case-study-cta {
    width: 80%;
    margin-inline: 10%;
  }
  .case-study-section ol li {
    margin-block: 1rem;
  }
}
@media (min-width: 701px) and (max-width: 1000px) {
  .case-study-media-box {
    text-align: center;
  }
  .case-study-box {
    width: 90%;
  }
  .testimonial {
    flex-direction: column;
  }
  .testimonial img {
    width: 30%;
    border-radius: 50%;
  }
  .case-study-section ol li {
    margin-block: 1rem;
  }
}
